/* Main.css */
.desc {
    text-align: center;
    padding: 50px 20px;
    background-color: #f0f8ff; /* Light blue background */
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 50px auto;
}

.desc h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

.desc h5 {
    font-size: 1.5rem;
    color: #666;
}
