/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #56B4BE;
    transition: background-color 0.3s ease-in-out;
    border-bottom: 2px solid #e5e7eb;
  }
  
  .nav-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #1F2833;
  }
  
  .nav-items {
    display: flex;
    align-items: center;
  }
  
  .mode-icon {
    font-size: 1.5rem;
    margin-right: 15px;
    cursor: pointer;
    color: #1F2833;
    transition: color 0.3s ease-in-out;
  }
  
  .resumebtn {
    font-size: 1rem;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    background-color: #1F2833;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .resumebtn:hover {
    background-color: #0B0C10;
  }
  